<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381658522095-saea22h6raamjslncvaisekfpsuo9jf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381658522095-saea22h6raamjslncvaisekfpsuo9jf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDWL8rXCerciRU6M5zQCMa14KGTGHzQJQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>381658522095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogura.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-8de0c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-8de0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381658522095:ios:01abbb86860457e72c161a</string>
</dict>
</plist>